@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html{
	scroll-behavior: smooth;
}


body{
	font-family: 'Noto Sans', serif;
	margin: 0;
}

*{
	box-sizing: border-box;
	margin: 0;
}

.container{
	max-width: 1140px;
	
}

.row{
	display: flex;
	flex-wrap: wrap;
}

/*Header */
header{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	padding: 0px 15px;
	z-index: 11;
}
header .row{
	justify-content: space-between;
	align-items: center;
}

header .brand-name a{
	text-decoration: none !important;
	font-size: 22px;
	font-weight: 600;
	color: #ff4105;
	text-transform: uppercase;
	position: relative;
}

header .navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
header .navbar ul li{
	display: inline-block;
	margin-left: 35px;
	z-index: 10;
}
header .navbar ul li a{
	font-size: 15px;
	text-decoration: none;
	line-height: 72px;
	color: #ff4105;
	font-weight: 600;
	position: relative;
	display: block;
}
header .navbar ul li a::before{
	content: '';
	height: 3px;
	background-color: #ff4105;
	width: 0%;
	position: absolute;
	right: 0px;
	bottom: -1px;
	transition: all .5s ease;
}

header .navbar ul li a:hover::before {
	width: 100%;
	left: 0px;
}
header .navbar ul li a.active::before{
	width: 100%;
	left: 0px;

}

/*Home */
.home{
	min-height: 100vh;
	background-image: url("images/mountains.jpg");
	/*background-color: #33BDFF;*/
	background-size: cover;
	background-position: center;
	padding: 15px;
}
.home .full-screen{
	min-height: 100vh;
}
.home .home-content{
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
}

.home .home-content .block{
	flex: 0 0 75%;
	max-width: 75%;
	padding-left: 35px;
	border-left: 5px solid #ffffff;
	margin-top: 50px;
}

.home .home-content .block h6{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	

}
.home .home-content .block h1{
	color: #ffffff;
	font-size: 70px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.home .home-content .block h3{
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	margin: 0;
	padding: 0;	
}

/*about me */
.about-me{
	padding: 100px 15px;
	background-color: #ffffff;
}

.about-me .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.about-me .section-title h1{
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 10px;
	color: #000000;
	position: relative;
}

.about-me .section-title h1:before{
	content: '';
	left: 0;
	height: 2px;
	position: absolute;
	background-color: #febd01;
	bottom: 0px;
	right: 30%;
	text-align: center;
}

.text-uppercase{
	text-transform: uppercase!important;
}

.about-me .section-title p.small{
	display: block;
	font-size: 14px;
	color: #838383;
	font-weight: 400;
	letter-spacing: 2px;
}

.about-me .about-content{
	
}

.about-me .about-content .img{
	flex: 0 0 33.33%;
	max-width: 33.33%;
}

.about-me .about-content .img img{
	width: 100%;
	display: block;
}

.about-me .about-content .text{
	flex: 0 0 66.66%;
	max-width: 66.66%;
	padding-left: 30px;
}

.about-me .about-content .text h4{
	font-size: 25px;
	font-weight: 600;
	margin: 0 0 5px;
	color: #000000;

}

.about-me .about-content .text h6{
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 15px;
	color: #000000;
}

.about-me .about-content .text h6 span{
	color: #febd01;

}

.about-me .about-content .text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
}

/*experience*/
.experience{
	padding: 100px 15px;
	background-color: #d3d3d3;

}

.experience .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
	/*text-align: center;*/
}

.experience .section-title h1{
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 10px;
	color: #000000;
	position: relative;
	border-bottom: 2px solid #febd01;
}
.experience .experience-content{
	padding-left: 15px;

}

.experience .experience-content .img{
	padding-bottom: 15px;

}
.experience .experience-content .img img{
	/*width: 46%;*/
	vertical-align: top;
	padding: 0px 0px 0px;
	width: 150px;
	padding-bottom: 20px;
}
.experience .experience-content .text{
	width: 46%;
	padding-left: 25px;
	

}
.experience .experience-content .text h4{

}

.experience .experience-content .text h5{

}

.experience .experience-content .text p{
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 20px;
}


/*leadership*/
.leadership{
	padding: 100px 15px;
	background-color: #ffffff;

}

.leadership .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 40px;
}

.leadership .section-title h1{
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 10px;
	color: #000000;
	position: relative;
	border-bottom: 2px solid #febd01;
}

.leadership .leadership-content{
	padding-left: 15px;

}

.leadership .leadership-content .img{
	padding-bottom: 15px;

}
.leadership .leadership-content .img img{
	/*width: 46%;*/
	vertical-align: top;
	padding: 0px 0px 0px;
	width: 150px;
	padding-bottom: 20px;
}
.leadership .leadership-content .text{
	width: 46%;
	padding-left: 25px;
	

}

.leadership .leadership-content .text p{
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 20px;
}



/*footer*/
footer{
	padding: 70px 15px;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	/*align-content: center;*/
}
footer .logo{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	font-size: 45px;
	color: #ffffff;
	font-weight: 900;
	/*align-content: center;*/
}
footer .social{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	padding-top: 15px;
}

footer .social a{
	color: #999999;
	text-decoration: none;
	display: inline-block;
	margin: 0px 12px;
	transition: all .5s ease;
}

footer .social a:hover{
	color: #ffffff;

}

.hamburger-style .fas{
	font-size: 20px;
	color: #ffffff;
	height: 30px;
	width: 35px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 3px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	display: none;
	border: 1px solid #eeeeee;

}

@media(max-width: 991px){
	.home .home-content .block h1{
		font-size: 50px;
	}
}

@media(max-width: 767px){
	.home .home-content .block h1{
		font-size: 40px;
	}
	.home .home-content .block h3{
		font-size: 25px;
	}
	header{
		padding: 15px;
		position: fixed;
		background-color: #ffffff;
		border: none;
		border-bottom: 1px solid #eeeeee;
	}
	header .brand-name a{
		color: #000000;

		
	}
	.hamburger-style .fas{
		display: inline-block;
	}
	.navbar{
		position: absolute;
		background-color: #ffffff;
		width: 100%;
		left: 0px;
		top: 60px;
		padding: 15px;
		border-top: 1px solid #eeeeee;
		display: none;
		border-bottom: 1px solid #eeeeee;
	}
	.navbar .show{
		display: block;
	}
	header .navbar ul li{
		display: block;
		margin-left: 0;
	}
	header .navbar ul li a{
		line-height: 42px;
		color: #000000;
	}
	header .navbar ul li a::before{
		background-color: #febd01;

	}
	.about-me .about-content .text{
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0px;
		padding-top: 30px;
	}
	.about-me .about-content .img{
		flex: 0 0 100%;
		max-width: 100%;
	}

}

@media(max-width: 500px){
	.home .home-content .block h1{
		font-size: 30px;
	}
	.home .home-content .block h3{
		font-size: 20px;
	}

	.home .home-content .block{
		padding-left: 20px;

	}

	.experience .section-title{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 20px;
	}

	.experience .experience-content .text{
	width: 100%;
	padding-left: 0px;
	

	}
	.experience .experience-content .img img{
	vertical-align: top;
	padding: 0px 0px 0px;
	width: 150px;
	padding-bottom: 10px;
	padding-top: 25px;
	padding-left: 0px;
	}
	.experience .experience-content .text p{
	padding-bottom: 15px;
	display: inline;
	}

	
	.leadership .leadership-content .text{
	width: 100%;
	padding-left: 0px;
	}

	.leadership .leadership-content .text p{
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	padding-bottom: 15px;
	}

}