body{
	margin: 0;
}

*{
	box-sizing: border-box;
	margin: 0;
}

.container{
	max-width: 1140px;
	
}

.row{
	display: flex;
	flex-wrap: wrap;
}

/*Header */
header{
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	padding: 0px 15px;
	/*border-bottom: 1px solid #423940;*/
}
header .row{
	justify-content: space-between;
	align-items: center;
}

header .brand-name a{
	text-decoration: none !important;
	font-size: 22px;
	font-weight: 600;
	color: #ff4105;
	text-transform: uppercase;
	position: relative;
}

/*header .brand-name a::before{
	content: '';
	height: 3px;
	background-color: #ff4105;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;

}*/

header .navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
header .navbar ul li{
	display: inline-block;
	margin-left: 35px;
	z-index: 10;
}
header .navbar ul li a{
	font-size: 15px;
	text-decoration: none;
	line-height: 72px;
	color: #ff4105;
	font-weight: 600;
	position: relative;
	display: block;
}
header .navbar ul li a::before{
	content: '';
	height: 3px;
	background-color: #ff4105;
	width: 0%;
	position: absolute;
	right: 0px;
	bottom: -1px;
	transition: all .5s ease;
}

header .navbar ul li a:hover::before {
	width: 100%;
	left: 0px;
}
header .navbar ul li a.active::before{
	width: 100%;
	left: 0px;

}

/*Home */
.home{
	min-height: 100vh;
	background-image: url("images/blackstairs.jpg");
	/*background-color: #33BDFF;*/
	background-size: cover;
	background-position: center;
	padding: 15px;
}
.home .full-screen{
	min-height: 100vh;
}
.home .home-content{
	flex: 0 0 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
}

.home .home-content .block{
	flex: 0 0 75%;
	max-width: 75%;
	padding-left: 35px;
	border-left: 5px solid #ffffff;
	margin-top: 50px;
}

.home .home-content .block h6{
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	

}
.home .home-content .block h1{
	color: #ffffff;
	font-size: 70px;
	font-weight: 600;
	margin: 0;
	padding: 0;
}
.home .home-content .block h3{
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	margin: 0;
	padding: 0;	
}

/*.home .home-content .block .resume-btn a{
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
}
*/

/*about me */
.about-me{
	padding: 100px 15px;

}

.about-me .section-title{
	flex: 0 0 100%;
	max-width: 100%;
}

.about-me .section-title h1{
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	color: #000000;
	position: relative;
}

.about-me .section-title h1:before{
	content: '';
	left: 0;
	height: 2px;
	position: absolute;
	background-color: #febd01;
	bottom: 0px;
	right: 0px;
}

.about-me .section-title p{
	display: block;
}
















